@mixin navText {
    font-size: $tinyText;
    font-family: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
    text-decoration: none;
    color: #fff;
}

@mixin scrolCustom {
    /*=================Daily scroll=================*/
    .daily::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    .daily::-webkit-scrollbar-button {
        display: none;
    }
    .daily::-webkit-scrollbar-track {
        background-color: #999;
    }
    .daily::-webkit-scrollbar-track-piece {
        background-color: #c5bebed7;
        border-radius: 20px;
    }
    .daily::-webkit-scrollbar-thumb {
        height: 100px;
        background-color: rgb(44, 43, 43);
        border-radius: 7px;
    }
    .daily::-webkit-scrollbar-corner {
        background-color: #999;
    }
    .daily::-webkit-resizer {
        background-color: #666;
    }
    /*=================Monthly scroll=================*/
    .main__monthly::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    .main__monthly::-webkit-scrollbar-button {
        display: none;
    }
    .main__monthly::-webkit-scrollbar-track {
        background-color: #999;
    }
    .main__monthly::-webkit-scrollbar-track-piece {
        background-color: #c5bebed7;
        border-radius: 20px;
    }
    .main__monthly::-webkit-scrollbar-thumb {
        height: 100px;
        background-color: rgb(44, 43, 43);
        border-radius: 7px;
    }
    .main__monthly::-webkit-scrollbar-corner {
        background-color: #999;
    }
    .main__monthly::-webkit-resizer {
        background-color: #666;
    }
    /*=================Customers feed scroll=================*/
    .main__box::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    .main__box::-webkit-scrollbar-button {
        display: none;
    }
    .main__box::-webkit-scrollbar-track {
        background-color: #999;
    }
    .main__box::-webkit-scrollbar-track-piece {
        background-color: #c5bebed7;
        border-radius: 20px;
    }
    .main__box::-webkit-scrollbar-thumb {
        height: 100px;
        background-color: rgb(44, 43, 43);
        border-radius: 7px;
    }
    .main__box::-webkit-scrollbar-corner {
        background-color: #999;
    }
    .main__box::-webkit-resizer {
        background-color: #666;
    }
}
    /*====================Text====================*/
@mixin gradientText {
    background: linear-gradient(90deg, #ec7159, #f50a35);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin boldText {
    font-style: Lato-Bold, AdobeInvisFont, MyriadPro-Regular;
    color: $paleDark;
    font-size: $middleText;
    font-weight: 700;
}

@mixin subtleText {
    font-style: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
    color: $paleGray;
    font-weight: 400;
}
