/*Font sizes*/
$diminutiveText: 8px;
$tinyText: 10px;
$smallText: 12px;
$middleText: 14px;
$largeText: 20px;

/*Font colors*/
$white: #fff;
$subtleGray: #fcfcfc;
$paleGray: #BFBFBF;
$paleDark: #777777;


