@import "./config/normalize";
@import "./config/variables";

@import "./config/mixins";
@import "./components/nav";
@import "./components/header";



.wrapper {
    display: flex;
    justify-content: flex-start;
    width: 1370px;
    min-height: 100vh;
    margin: auto;

    background: blue;
}

.container {
    width: 100%;
}




@import "./config/media";


