* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Font sizes*/
/*Font colors*/
/*====================Text====================*/
.container__nav {
  height: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70px;
  min-height: 100vh;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#f37257), to(#fd5271));
  background: linear-gradient(#f37257, #fd5271);
}

.navigation__link {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 70px;
  padding-top: 60px;
  text-align: center;
  font-size: 10px;
  font-family: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
  text-decoration: none;
  color: #fff;
}

.navigation__link--hover::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 32px;
  right: -5px;
  display: none;
  width: 10px;
  height: 10px;
  background: #fc705e;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation__link--hover:hover::after {
  display: block;
}

.navigation .navigation__link:nth-child(1) {
  -webkit-box-shadow: 5px 0px 5px #6458583f;
          box-shadow: 5px 0px 5px #6458583f;
  background: url(../img/nav/logo.png) no-repeat center center;
  background-color: white;
}

.navigation .navigation__link:nth-child(2) {
  background: url(../img/nav/home.png) no-repeat center center;
}

.navigation .navigation__link:nth-child(3) {
  background: url(../img/nav/statistics.png) no-repeat center center;
}

.navigation .navigation__link:nth-child(4) {
  background: url(../img/nav/users.png) no-repeat center center;
}

.navigation .navigation__link:nth-child(5) {
  background: url(../img/nav/settings.png) no-repeat center center;
}

.navigation .navigation__link:nth-child(6) {
  background: url(../img/nav/quires.png) no-repeat center center;
}

.navigation .navigation__link:nth-child(7) {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/nav/power.png) no-repeat center center;
}

header {
  width: 1300px;
}

/*===========Top of the header=========*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #BFBFBF;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__box .header__link {
  width: 70px;
  height: 70px;
}

.header__box .header__link--dots,
.header__box .header__link--folder,
.header__box .header__link--settings {
  background-color: white;
  border-right: 1px solid #BFBFBF;
}

.header__box .header__link--download,
.header__box .header__link--letter,
.header__box .header__link--earth {
  background-color: white;
  border-left: 1px solid #BFBFBF;
}

.header__box form {
  position: relative;
}

.header__box input {
  width: 260px;
  height: 35px;
  padding-left: 10px;
  font-family: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
  border-radius: 30px;
  background: #e8e8e8;
}

.header__box button {
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 35px;
  background: url(../img/header/zoom.png) no-repeat center center;
}

.header__box span {
  display: block;
  margin: 5px;
}

.header__box .header__name {
  font-size: 14px;
  text-transform: capitalize;
  background: -webkit-gradient(linear, left top, right top, from(#ec7159), to(#f50a35));
  background: linear-gradient(90deg, #ec7159, #f50a35);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__box .header__additional {
  font-size: 12px;
  font-style: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
  color: #BFBFBF;
  font-weight: 400;
}

.header__box .burger {
  position: relative;
  top: 33px;
  left: 10px;
  display: none;
  width: 25px;
  height: 2px;
  background: black;
}

.header__box .burger::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 25px;
  height: 2px;
  background: black;
}

.header__box .burger::after {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 25px;
  height: 2px;
  background: black;
}

.header__box:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1000;
      -ms-flex-positive: 1000;
          flex-grow: 1000;
}

/*===========Second part of the header with todays statistics=========*/
.daily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
}

.daily__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
}

.daily__inner {
  width: 162px;
  height: 100%;
  padding-left: 40px;
}

.daily__inner span {
  display: block;
  font-size: 20px;
}

.daily__inner span:nth-child(1) {
  margin-top: 21px;
  font-size: 12px;
  font-style: Lato-Bold, AdobeInvisFont, MyriadPro-Regular;
  color: #777777;
  font-size: 14px;
  font-weight: 700;
}

.daily__inner span:nth-child(2) {
  font-size: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#ec7159), to(#f50a35));
  background: linear-gradient(90deg, #ec7159, #f50a35);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.daily__inner .daily__inner__numbers {
  position: relative;
  display: inline;
  margin-left: 10px;
  font-size: 12px;
  font-style: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
  color: #BFBFBF;
  font-weight: 400;
}

.daily__inner .daily__inner__numbers--blue:before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 22px;
  width: 0px;
  height: 0px;
  margin: 5px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 5px solid blue;
}

.daily__inner .daily__inner__numbers--red:before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 22px;
  width: 0px;
  height: 0px;
  margin: 5px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid red;
}

.daily__inner .daily__inner__add {
  font-size: 12px;
  padding-top: 23px;
  background: -webkit-gradient(linear, left top, right top, from(#ec7159), to(#f50a35));
  background: linear-gradient(90deg, #ec7159, #f50a35);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__link--dots {
  background: url(../img/header/dots.PNG) no-repeat center;
  /*It's okay on my PC, but it looks like github don't want to read PNG spelled with uppercase :(*/
}

.header__link--folder {
  background: url(../img/header/folder.png) no-repeat center;
}

.header__link--settings {
  background: url(../img/header/settings.png) no-repeat center;
}

.header__link--download {
  background: url(../img/header/download.png) no-repeat center;
}

.header__link--letter {
  background: url(../img/header/letter.png) no-repeat center;
}

.header__link--earth {
  background: url(../img/header/earth.png) no-repeat center;
}

.container__main-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  width: 100%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1050px;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: calc(0.25vw + 5px);
  background: #e2e2e2;
}

/*===========First box which contains monthly progress and revenue per hour=========*/
.main__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main__box .main__monthly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
  margin: calc(0.25vw + 5px);
  padding: 1.5vw;
  padding-left: 0;
  background: white;
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
  overflow-x: auto;
}

.main__box .main__monthly span {
  position: -webkit-sticky;
  position: sticky;
  left: 10px;
  font-style: Lato-Bold, AdobeInvisFont, MyriadPro-Regular;
  color: #777777;
  font-size: 14px;
  font-weight: 700;
}

.main__box .main__monthly form {
  position: -webkit-sticky;
  position: sticky;
  left: 220px;
  width: 212px;
}

.main__box .main__monthly form button {
  width: 68px;
  border-radius: 20px;
  background: none;
  font-style: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
  color: #BFBFBF;
  font-weight: 400;
  font-weight: 700;
}

.main__box .main__monthly form button:hover {
  background: -webkit-gradient(linear, right top, left top, from(#ec7159), to(#f50a35));
  background: linear-gradient(-90deg, #ec7159, #f50a35);
  color: white;
}

.main__box .main__per-hour {
  width: 250px;
  height: 260px;
  margin: calc(0.25vw + 5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: white;
}

.main__box .main__per-hour span {
  text-align: center;
  width: 100%;
  padding: 10px;
  font-style: Lato-Bold, AdobeInvisFont, MyriadPro-Regular;
  color: #777777;
  font-size: 14px;
  font-weight: 700;
}

.main__box .main__per-hour div {
  width: 100%;
  text-align: center;
}

.main__box .main__per-hour div span {
  position: relative;
  font-size: 12px;
  font-style: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
  color: #BFBFBF;
  font-weight: 400;
}

.main__box .main__per-hour div .main__per-hour--blue:before {
  content: "";
  position: absolute;
  top: 10px;
  right: 32px;
  width: 0px;
  height: 0px;
  margin: 5px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 5px solid blue;
}

.main__box .main__per-hour div .main__per-hour--red:before {
  content: "";
  position: absolute;
  top: 10px;
  right: 32px;
  width: 0px;
  height: 0px;
  margin: 5px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid red;
}

/*===========The end of the first box, describing of big box sizes=========*/
.main__box:nth-child(2) {
  width: 40%;
  height: 500px;
  margin: calc(0.25vw + 5px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow-y: scroll;
  background: white;
}

.main__box:nth-child(3) {
  width: 40%;
  height: 500px;
  background: #e2e2e2;
  margin: calc(0.25vw + 5px);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/*===========Second box with customers feed=========*/
.main__box .list__external {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 500px;
  margin: 10px;
  padding: 10px;
  font-size: 12px;
  background: white;
  list-style-type: none;
}

.main__box .list__external .list__box:nth-child(even) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 10px 0 10px 0px;
}

.main__box .list__external .list__box:nth-child(odd) {
  width: 90%;
}

.main__box .list__external .list__header {
  width: 100%;
  margin: 10px;
  font-style: Lato-Bold, AdobeInvisFont, MyriadPro-Regular;
  color: #777777;
  font-size: 14px;
  font-weight: 700;
  font-size: 14px;
}

.main__box .list__external .list__img {
  position: relative;
  width: 45px;
  height: 45px;
  overflow: hidden;
  margin: 0 10px 0 10px;
}

.main__box .list__external .list__img .img__sophie-turner {
  position: absolute;
  left: -40%;
}

.main__box .list__external .list__img .img__peter-quill {
  position: absolute;
  left: -7%;
}

.main__box .list__external .li__external {
  width: 10%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #fcfcfc;
  padding: 20px;
}

.main__box .li__name {
  font-weight: 700;
}

.main__box .list__internal {
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 40px;
  width: 90%;
  list-style-type: none;
}

.main__box .list__internal li {
  padding: 20px;
  margin: 10px 0 10px 0;
  background: #fcfcfc;
}

.main__box .list__internal::before {
  content: "";
  width: 2px;
  height: 180px;
  position: absolute;
  top: 20px;
  left: -10px;
  background: #e2e2e2;
}

/*===========Third box=========*/
.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.main__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 245px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: calc(0.25vw + 5px);
  background: white;
}

.main__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40%;
  height: 235px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: white;
  margin-top: calc(0.25vw + 5px);
  margin-right: calc(0.25vw + 5px);
}

.main__progress .progress__header {
  margin: 20px 0px 0px;
  width: 100%;
  text-align: center;
}

.main__progress .progress__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.main__progress .progress__numbers span {
  margin: 5px;
  position: relative;
}

.main__progress .progress__numbers .progress__income {
  width: 100%;
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#ec7159), to(#f50a35));
  background: linear-gradient(90deg, #ec7159, #f50a35);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  margin: 5px;
}

.main__progress .progress__numbers__inner {
  font-style: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
  color: #BFBFBF;
  font-weight: 400;
  font-size: 12px;
}

.main__progress .progress__numbers__inner--blue:before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 22px;
  width: 0px;
  height: 0px;
  margin: 5px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 5px solid blue;
}

.main__progress .progress__numbers__inner--red:before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 22px;
  width: 0px;
  height: 0px;
  margin: 5px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid red;
}

.main__shipment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40%;
  height: 235px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: white;
  margin-top: calc(0.25vw + 5px);
  margin-left: calc(0.25vw + 5px);
}

.main__shipment .shipment__header {
  margin: 20px 0px 15px;
}

.main__shipment .shipment__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.main__shipment .shipment__numbers span {
  margin: 5px;
  position: relative;
}

.main__shipment .shipment__numbers .shipment__income {
  background: -webkit-gradient(linear, left top, right top, from(#ec7159), to(#f50a35));
  background: linear-gradient(90deg, #ec7159, #f50a35);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

.main__shipment .shipment__numbers__inner {
  font-style: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
  color: #BFBFBF;
  font-weight: 400;
  font-size: 12px;
  margin: 5px;
}

.main__shipment .shipment__numbers__inner--blue:before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 22px;
  width: 0px;
  height: 0px;
  margin: 5px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 5px solid blue;
}

.main__shipment .shipment__numbers__inner--red:before {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 22px;
  width: 0px;
  height: 0px;
  margin: 5px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid red;
}

/*=================Daily scroll=================*/
.daily::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.daily::-webkit-scrollbar-button {
  display: none;
}

.daily::-webkit-scrollbar-track {
  background-color: #999;
  /*=================Sass don't like the way I customized the scrollbar :(=================*/
}

/*=================I think I could have done it shorter, but rn I found only this way of customizing=================*/
.daily::-webkit-scrollbar-track-piece {
  background-color: #c5bebed7;
  border-radius: 20px;
}

.daily::-webkit-scrollbar-thumb {
  height: 100px;
  background-color: #2c2b2b;
  border-radius: 7px;
}

.daily::-webkit-scrollbar-corner {
  background-color: #999;
}

/*=================Monthly scroll=================*/
.main__monthly::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.main__monthly::-webkit-scrollbar-button {
  display: none;
}

.main__monthly::-webkit-scrollbar-track {
  background-color: #999;
}

.main__monthly::-webkit-scrollbar-track-piece {
  background-color: #c5bebed7;
  border-radius: 20px;
}

.main__monthly::-webkit-scrollbar-thumb {
  height: 100px;
  background-color: #2c2b2b;
  border-radius: 7px;
}

.main__monthly::-webkit-scrollbar-corner {
  background-color: #999;
}

/*=================Customers feed scroll=================*/
.main__box::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.main__box::-webkit-scrollbar-button {
  display: none;
}

.main__box::-webkit-scrollbar-track {
  background-color: #999;
}

.main__box::-webkit-scrollbar-track-piece {
  background-color: #c5bebed7;
  border-radius: 20px;
}

.main__box::-webkit-scrollbar-thumb {
  height: 100px;
  background-color: #2c2b2b;
  border-radius: 7px;
}

.main__box::-webkit-scrollbar-corner {
  background-color: #999;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 1370px;
  min-height: 100vh;
  margin: auto;
}

@media (max-width: 1370px) {
  .wrapper {
    width: 100vw;
  }
  header {
    width: calc(100vw - 70px);
  }
  .daily {
    overflow-x: scroll;
  }
  .daily span:nth-child(1) {
    margin-top: 17px;
    font-size: 12px;
  }
}

@media (max-width: 1023px) {
  /*====================Navigation====================*/
  .container__nav {
    display: none;
  }
  /*====================Header====================*/
  header {
    width: 100vw;
  }
  .header__box {
    width: 33vw;
  }
  .header__box .header__name {
    font-size: 20px;
  }
  .header__box .header__additional {
    font-size: 14px;
  }
  .header__box .header__link {
    width: 10.7vw;
    height: 9.7vw;
    margin: 1vw;
    border: 1px solid #383636;
  }
  .header__box .burger {
    display: block;
  }
  .header__box:nth-child(2) {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .header__box:nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
  .header__name {
    font-size: 30px;
  }
  /*====================Main====================*/
  main {
    width: 100%;
  }
  .main__box:nth-child(2) {
    width: 100%;
    height: 300px;
  }
  .main__box:nth-child(3) {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 767px) {
  /*====================Navigation====================*/
  .container__nav {
    display: none;
  }
  /*====================Header====================*/
  header {
    width: 100vw;
  }
  .header__box {
    width: 50vw;
  }
  .header__box .header__link {
    width: 10.7vw;
    height: 9.7vw;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .header__box:nth-child(2) {
    position: unset;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    width: 100%;
  }
  .header__box:nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
}
/*# sourceMappingURL=style.css.map */