@import "./config/normalize";
@import "./config/variables";
@import "./config/mixins";
@import "./components/nav";
@import "./components/header";
@import "./components/main";
@include scrolCustom;


.wrapper {
    display: flex;
    justify-content: flex-start;
    width: 1370px;
    min-height: 100vh;
    margin: auto;

    background: blue;
}





@import "./config/media";


