* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Font sizes*/
/*Font colors*/
.container__navigation {
  height: 100%;
  position: relative;
  background: burlywood;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70px;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#f37257), to(#fd5271));
  background: linear-gradient(#f37257, #fd5271);
}

.navigation__link {
  width: 100%;
  height: 70px;
  padding-top: 60px;
  text-align: center;
  font-size: 10px;
  font-family: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;
  text-decoration: none;
  color: #fff;
}

.navigation .navigation__link:nth-child(1) {
  -webkit-box-shadow: 5px 0px 5px #6458583f;
          box-shadow: 5px 0px 5px #6458583f;
  background: url(../img/nav/logo.png) no-repeat center center;
  background-color: white;
}

.navigation .navigation__link:nth-child(2) {
  background: url(../img/nav/home.png) no-repeat center center;
}

.navigation .navigation__link:nth-child(3) {
  background: url(../img/nav/statistics.png) no-repeat center center;
}

.navigation .navigation__link:nth-child(4) {
  background: url(../img/nav/users.png) no-repeat center center;
}

.navigation .navigation__link:nth-child(5) {
  background: url(../img/nav/settings.png) no-repeat center center;
}

.navigation .navigation__link:nth-child(6) {
  background: url(../img/nav/quires.png) no-repeat center center;
}

.navigation .navigation__link:nth-child(7) {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/nav/power.png) no-repeat center center;
}

header {
  width: 1300px;
  background: brown;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: saddlebrown;
}

.header__box .header__link {
  width: 70px;
  height: 70px;
  background-color: white;
  border: 1px solid gray;
  border-top: none;
  border-left: none;
}

.header__box form {
  position: relative;
}

.header__box input {
  width: 300px;
  height: 35px;
  padding-left: 10px;
  font-family: Lato-Regular,AdobeInvisFont,MyriadPro-Regular;
  border-radius: 30px;
  background: #e8e8e8;
}

.header__box button {
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  width: 35px;
  background: url(../img/header/zoom.png) no-repeat center center;
}

.header__box span {
  display: block;
  margin: 5px;
}

.header__box .header__name {
  font-size: 14px;
  text-transform: capitalize;
}

.header__box .header__additional {
  font-size: 10px;
}

.header__box:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: saddlebrown;
  -webkit-box-flex: 1000;
      -ms-flex-positive: 1000;
          flex-grow: 1000;
}

.daily::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.daily::-webkit-scrollbar-button {
  display: none;
}

.daily::-webkit-scrollbar-track {
  background-color: #999;
}

.daily::-webkit-scrollbar-track-piece {
  background-color: #ffffff;
  border-radius: 20px;
}

.daily::-webkit-scrollbar-thumb {
  height: 100px;
  background-color: #424040;
  border-radius: 7px;
}

.daily::-webkit-scrollbar-corner {
  background-color: #999;
}

.daily::-webkit-resizer {
  background-color: #666;
}

.daily {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: green;
  overflow-x: scroll;
}

.daily__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
}

.daily__inner {
  width: 162px;
  height: 100%;
  padding-left: 40px;
  background-color: greenyellow;
}

.daily__inner span {
  display: block;
  font-size: 20px;
}

.daily__inner span:nth-child(1) {
  margin-top: 17px;
  font-size: 12px;
}

.daily__inner span:nth-child(2) {
  font-size: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#ec7159), to(#f50a35));
  background: linear-gradient(90deg, #ec7159, #f50a35);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.daily__inner .daily__inner__numbers {
  position: relative;
  display: inline;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  color: yellow;
}

.daily__inner .daily__inner__numbers--blue:before {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 22px;
  width: 0px;
  height: 0px;
  margin: 5px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-bottom: 5px solid blue;
}

.daily__inner .daily__inner__numbers--red:before {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 22px;
  width: 0px;
  height: 0px;
  margin: 5px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 5px solid red;
}

.header__link--dots {
  background: url(../img/header/dots.png) no-repeat center;
}

.header__link--folder {
  background: url(../img/header/folder.png) no-repeat center;
}

.header__link--settings {
  background: url(../img/header/settings.png) no-repeat center;
}

.header__link--download {
  background: url(../img/header/download.png) no-repeat center;
}

.header__link--letter {
  background: url(../img/header/letter.png) no-repeat center;
}

.header__link--earth {
  background: url(../img/header/earth.png) no-repeat center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 1370px;
  min-height: 100vh;
  margin: auto;
  background: blue;
}

.container {
  width: 100%;
}

@media (max-width: 1370px) {
  .wrapper {
    width: 100vw;
  }
  header {
    width: calc(100vw - 70px);
  }
}

@media (max-width: 1000px) {
  .container__navigation {
    display: none;
  }
  header {
    width: 100%;
  }
  .header__box {
    width: 33vw;
  }
  .header__box .header__name {
    font-size: 20px;
  }
  .header__box .header__additional {
    font-size: 14px;
  }
  .header__box .header__link {
    width: 16.7vw;
    height: 16.7vw;
  }
  .header__box:nth-child(2) {
    position: absolute;
    top: 15px;
    left: 30%;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .header__box:nth-child(2) input {
    width: 100%;
  }
  .header__box:nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
  .header__name {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .container__navigation {
    display: none;
  }
  header {
    width: 100%;
  }
  .header__box {
    width: 50vw;
  }
  .header__box .header__link {
    width: 16.7vw;
    height: 16.7vw;
  }
  .header__box:nth-child(2) {
    position: unset;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    width: 100%;
  }
  .header__box:nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
}
/*# sourceMappingURL=style.css.map */