header {
    width: 1300px;
    background: brown;
}

.header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-bottom: 1px solid black;
}

.header__box {
    display: flex;
    align-self: center;
    justify-content: center;
    flex-grow: 1;

    background: saddlebrown;

    .header__link {
        width: 70px;
        height: 70px;
    }

    .header__link--dots,
    .header__link--folder,
    .header__link--settings {
        background-color: white;
        border-right: 1px solid gray;
    }

    .header__link--download,
    .header__link--letter,
    .header__link--earth {
        background-color: white;
        border-left: 1px solid gray;
    }

    form {
        position: relative;
    }

    input {
        width: 260px;
        height: 35px;
        padding-left: 10px;

        font-family: Lato-Regular, AdobeInvisFont, MyriadPro-Regular;

        border-radius: 30px;
        background: #e8e8e8;
    }

    button {
        position: absolute;
        top: 0;
        right: 0;

        height: 35px;
        width: 35px;

        background: url(../img/header/zoom.png) no-repeat center center;
    }

    span {
        display: block;
        margin: 5px;
    }

    .header__name {
        font-size: $middleText;
        text-transform: capitalize;
        @include gradientText;
    }

    .header__additional {
        font-size: $smallText;
        @include subtleText;
    }

    .burger {
        position: relative;
        top: 33px;
        left: 10px;

        display: none;
        width: 25px;
        height: 2px;

        background: black;
    }

    .burger::before {
        content: '';
        position: absolute;
        top: 10px;

        width: 25px;
        height: 2px;

        background: black;
    }

    .burger::after {
        content: '';
        position: absolute;
        bottom: 10px;

        width: 25px;
        height: 2px;

        background: black;
    }
}

.header__box:nth-child(2) {
    display: flex;
    justify-content: center;
    background: saddlebrown;
    flex-grow: 1000;
}

.daily {
    display: flex;
    width: 100%;
    height: 100px;

    background-color: green;

   

    &__box {
        display: flex;
        width: 1300px;
    }

    &__inner {
        width: 162px;
        height: 100%;

        padding-left: 40px;
        background-color: greenyellow;

        span {
            display: block;

            font-size: 20px;
        }

        span:nth-child(1) {
            margin-top: 21px;
            font-size: $smallText;
            @include boldText;
        }

        span:nth-child(2) {
            font-size: $largeText;
            @include gradientText;
            font-weight: bold;
        }

        .daily__inner__numbers {
            position: relative;
            display: inline;
            margin-left: 10px;
            font-size: $smallText;
            @include subtleText;
        }

        .daily__inner__numbers--blue:before {
            content: "";
            position: absolute;
            bottom: 0px;
            right: 22px;
            width: 0px;
            height: 0px;
            margin: 5px;

            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-bottom: 5px solid blue;
        }

        .daily__inner__numbers--red:before {
            content: "";
            position: absolute;
            bottom: 0px;
            right: 22px;
            width: 0px;
            height: 0px;
            margin: 5px;

            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 5px solid red;
        }

        .daily__inner__add {
            font-size: $smallText;
            padding-top: 23px;
            @include gradientText;
        }
    }
}

.header__link--dots {
    background: url(../img/header/dots.png) no-repeat center;
}

.header__link--folder {
    background: url(../img/header/folder.png) no-repeat center;
}

.header__link--settings {
    background: url(../img/header/settings.png) no-repeat center;
}

.header__link--download {
    background: url(../img/header/download.png) no-repeat center;
}

.header__link--letter {
    background: url(../img/header/letter.png) no-repeat center;
}

.header__link--earth {
    background: url(../img/header/earth.png) no-repeat center;
}
